.git
.github
.idea
.vscode
.cursor
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
.phpunit.cache
.phpunit.result.cache
tests
compose.yaml
Homestead.json
Homestead.yaml
README.md
docs
*.md
!docker/**
